html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

body {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
}

h1 {
      border-bottom: 2px solid black;
      margin-bottom: 10px;
  }


.todo {
    display: flex;
    margin-top: 10px;
}

.todo-item {
    margin-right: 10px;
}

